* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  font-family: Roboto, sans-serif
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.z-depth-1 {
  box-shadow: 0 2px 6px rgba(0,0,0,0.15)
}

.z-depth-2 {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15)
}

.padd-10 {
  padding: 10px
}

.sign-pad,
.sign-buttons {
  margin: 0 auto
}

.sign-buttons {
  width: 450px
}

.sign-pad {
  border: 1px solid #ddd
}

.sign-pad_modal {
  height: 230px !important;
  width: 450px !important;
}

.new-app {
  position: relative;
  padding-bottom: 45px;
  margin-left: 10px;
  margin-right: 10px
}

.new-app_header {
  padding: 10px;
  cursor: default
}

.btn_add-app,
.btn_upd-app {
  position: absolute;
  bottom: -20px;
  right: 15px
}

.btn_del-app {
  position: absolute;
  bottom: -20px;
  left: 15px
}

.app-list-mod,
.app-list {
  display: flex;
  flex-wrap: wrap
}

.app-list {
  position: relative;
}

.app-mod,
.app {
  height: 100px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center
}

.app-mod:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer
}

.app-mod_avatar,
.app_avatar {
  width: 100px;
  height: 100px
}

.app-mod_name {
  width: calc(65% - 50px);
  word-wrap: break-word;
  overflow: hidden;
  text-align: center
}

.app-mod_sign {
  width: calc(35% - 50px);
  height: 100%
}

.app-mod_sign img {
  width: 100%;
  height: 100%
}

.app_name {
  width: calc(50% - 50px);
  word-wrap: break-word;
  overflow: hidden;
  text-align: center
}

.app_matin,
.app_aprem {
  min-width: calc(25% - 25px);
  width: calc(25% - 25px);
  height: 100%
}

.app_matin img,
.app_aprem img {
  width: 100%;
  height: 100%
}

.app_matin:hover,
.app_aprem:hover {
  background-color: rgb(240, 240, 240);
  cursor:pointer
}

.app_matin.present,
.app_aprem.present {
  background-color: rgb(147, 238, 139)
}

.app_matin.absent,
.app_aprem.absent {
  background-color: rgb(246, 128, 128)
}

/* .app-mod_buttons {
  width: calc(25% - 33px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.app-mod_buttons button {
  width: 90%;
  margin-bottom: 5px
} */

.app-profile {
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}


@media all and (max-width: 995px) {
  .app-mod,
  .app {
    width: calc(100% - 20px)
  }
}