<div class="container mb-3">
  <div class="new-app z-depth-2 d-flex flex-column pb-0">
    <div class="new-app_header text-white bg-dark text-center">
      <h2>Feuille de Présence</h2>
    </div>
    <form class="padd-10">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group mb-0">
            <label>Intitulé de la formation: </label>
            <select
              ng-model="select.formation"
              ng-options="formation for formation in formations"
              style="width: 150px">
              <option value="">Select...</option>
            </select>
          </div>
          <div class="form-group mb-0">
            <label>Lieu de la formation: </label>
            <select
              ng-model="select.lieu"
              ng-options="lieu for lieu in lieux"
              style="width: 150px">
              <option value="">Select...</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group mb-0">
            <label>Date: </label>
            <input type="date" ng-model="select.date">
          </div>
          <div class="form-group mb-0">
            <label>Durée:<br>1 jour (7h) </label>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-lg btn-primary btn_add-app" ng-click="displayPresence()">Afficher</button>
  </div>
</div>
<!-- ### LISTE APPRENANTS ###-->
<div class="container mb-3">
  <div class="app-list no-gutters">
    <div ng-repeat="apprenant in apprenants" class="app z-depth-2">
      <div class="d-flex" ng-click="openModal()">
        <div class="app_avatar d-flex">
          <img class="img-fluid" ng-src="http://localhost:8000{{apprenant.avatar}}" />
        </div>
        <div class="app_name d-flex flex-column justify-content-center">
          <p><strong>{{apprenant.first_name}}</strong></p>
          <p><strong>{{apprenant.last_name}}</strong></p>
        </div>
        <div class="app_matin d-flex" style="border-right: 1px solid #000" ng-class="{ absent : apprenant.absentMatin, present: !apprenant.absentMatin }" ng-click="openModalMatin(apprenant.id)">
          <img ng-if="!apprenant.sign_matin" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABkCAQAAABpj7eAAAAAoElEQVR42u3RAQ0AAAzCsOPf9G0Q0klYc6oqFgARECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAEBIiACAkRAgAjIeg+EzwBluELcMgAAAABJRU5ErkJggg==" />
          <img ng-if="apprenant.sign_matin" ng-src="http://localhost:8000{{apprenant.sign_matin}}" />
        </div>
        <div class="app_aprem d-flex" ng-class="{ absent : apprenant.absentAprem, present: !apprenant.absentAprem }" ng-click="openModalAprem(apprenant.id)">
          <img ng-if="!apprenant.sign_aprem" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABkCAQAAABpj7eAAAAAoElEQVR42u3RAQ0AAAzCsOPf9G0Q0klYc6oqFgARECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAEBIiACAkRAgAjIeg+EzwBluELcMgAAAABJRU5ErkJggg==" />
          <img ng-if="apprenant.sign_aprem" ng-src="http://localhost:8000{{apprenant.sign_aprem}}" />
        </div>

        <!-- Modal -->
        <div class="modal fade" id="signModalMatin" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Présence Matinée</h5>
              </div>
              <div class="modal-body">
                <label class="sign-label ml-5 mb-2">Signature</label>
                <signature-pad class="sign-pad sign-pad_modal mb-3" accept="acceptMatin" clear="clearMatin" height="230" width="450" disabled="false"></signature-pad>
                <div class="sign-buttons">
                  <button class="btn btn-danger" ng-click="clearMatin()">Reset signature</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="AbsentMatin(modalId); updatePresenceMatin(modalId)">Absent</button>
                <button type="button" class="btn btn-success" ng-click="signature = acceptMatin(); PresentMatin(modalId); updatePresenceMatin(modalId, signature.dataUrl)">Valider</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Modal -->
        <!-- Modal -->
        <div class="modal fade" id="signModalAprem" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Présence Après-midi</h5>
              </div>
              <div class="modal-body">
                <label class="sign-label ml-5 mb-2">Signature</label>
                <signature-pad class="sign-pad sign-pad_modal mb-3" accept="acceptAprem" clear="clearAprem" height="230" width="450" disabled="false"></signature-pad>
                <div class="sign-buttons">
                  <button class="btn btn-danger" ng-click="clearAprem()">Reset signature</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="AbsentAprem(modalId); updatePresenceAprem(modalId)">Absent</button>
                <button type="button" class="btn btn-success" ng-click="signature = acceptAprem(); PresentAprem(modalId); updatePresenceAprem(modalId, signature.dataUrl)">Valider</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Modal -->
      </div>
    </div>
  </div>
</div>
<!-- ### FIN LISTE APPRENANTS MODIFIABLE ###-->